.App {
  font-family: sans-serif;
  text-align: center;
}

.button {
  width: 300px;
  height: 40px;
  border-radius: 25px;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: chartreuse;
}

.password {
  display: flex;
  text-align: center;
  justify-content: center;
}

.char {
  margin-left: 15px;
}
